:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --main-logo-color: #212121;
  --second-logo-color: #ffffff;
  --hero-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-title-color);
  background-color: var(--main-background-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-link.current {
  color: var(--accent-color);
}

/*----------------------HEADER----------------------*/
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  color: var(--main-logo-color);
}

.logo-accent {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/*----------------------HERO----------------------*/
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  text-align: center;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  cursor: pointer;
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*----------------------BENEFITS----------------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*----------------------ABOUT----------------------*/
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*----------------------TEAM----------------------*/
.team {
  background-color: var(--second-background-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*----------------------FOOTER----------------------*/
.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts [href*='www.google.com/maps/'] {
  color: #ffffff;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

/*----------------------PORTFOLIO----------------------*/
.projects-filter-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
}

.projects-filter-item:hover,
.projects-filter-item:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.projects-exaples-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.projects-exaples-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
